CMakeCache.txt
CMakeFiles
cmake_install.cmake
install_manifest.txt
build/*

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Doxygen

documentation/doxygen/html/*
documentation/doxygen/xml/*
documentation/doxygen/latex/*

#Sphinx

documentation/sphinx/build/*
documentation/sphinx/source/software_engineering/*.vpp~*
documentation/sphinx/source/software_engineering/quick2wire-cpp-api.vpp.working
